<html>
    <h2>HTML Forms</h2>
    <form action="/submit" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value=" ">
        <label for="roll">Roll Number:</label>
        <input type = "text" id = "roll" name = "roll" value = " ">
        <label for="matric">Matric Marks:</label>
        <input type = "number" id = "tenth" name = "tenth" value = "100" max = "100" min = "0">
        <label for="twelfth">FSC Marks:</label>
        <input type = "number" id = "twelfth" name = "twelfth" value = "100" max = "100" min = "0">
        <label for="grad">Graduation Marks:</label>
        <input type = "number" id = "grad" name = "grad" value = "100" max = "100" min = "0">

        <!---New line-->
        <br>
        <label for="name2">Name:</label>
        <input type="text" id="name2" name="name2" value=" ">
        <label for="roll2">Roll Number:</label>
        <input type = "text" id = "roll2" name = "roll2" value = " ">
        <label for="matric2">Matric Marks:</label>
        <input type = "number" id = "tenth2" name = "tenth2" value = "100" max = "100" min = "0">
        <label for="twelfth2">FSC Marks:</label>
        <input type = "number" id = "twelfth2" name = "twelfth2" value = "100" max = "100" min = "0">
        <label for="grad2">Graduation Marks:</label>
        <input type = "number" id = "grad2" name = "grad2" value = "100" max = "100" min = "0">

        
        
        <input type="submit" value="Submit">
    </form>

</html>